.env
public/assets/.DS_Store
public/.DS_Store
public/assets/uploads/user-image
public/assets/uploads
resources/.DS_Store
# composer.lock
.DS_Store
vendor/*
/.idea
# vendor/composer/autoload_real.php
# vendor/composer/ClassLoader.php
._*
node_modules
storage/*
